<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Insert title here</title>
</head>
<body>
<div th:replace="~{block/header::headerA}"></div>
<h1 th:text="${title}">仮のタイトル</h1>
<div th:if="${param.complete}">
    更新が完了しました。
</div>
<form action="#" method="post" th:action="@{/survey/confirm}" th:object="${surveyForm}">
    <label for="age">年齢:</label>
    <input id="age" name="age" th:value="*{age}" type="number"><br>
    <div th:errors="*{age}" th:if="${#fields.hasErrors('age')}"></div>
    <label for="email">満足度:</label>
    <input name="satisfaction" th:checked="*{satisfaction == 1}" type="radio" value="1">1
    <input name="satisfaction" th:checked="*{satisfaction == 2}" type="radio" value="2">2
    <input name="satisfaction" th:checked="*{satisfaction == 3}" type="radio" value="3">3
    <input name="satisfaction" th:checked="*{satisfaction == 4}" type="radio" value="4">4
    <input name="satisfaction" th:checked="*{satisfaction == 5}" type="radio" value="5">5<br>
    <div th:errors="*{satisfaction}" th:if="${#fields.hasErrors('satisfaction')}"></div>
    <label for="comment">コメント　:</label>
    <textarea cols="40" id="comment" name="comment" rows="3" th:field="*{comment}"></textarea><br>
    <div th:errors="*{comment}" th:if="${#fields.hasErrors('comment')}"></div>
    <input type="submit" value="確認ページへ">
</form>
</body>
</html>
