<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<h1>sample title</h1>

<p><a href="#" th:href="@{/inquiry}">Inquiry</a></p>
<p><a href="#" th:href="@{/survey}">Survey</a></p>

<h2>sample data</h2>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    <tr th:each="sample : ${sampleList}">
        <td th:text="${sample.id}"></td>
        <td th:text="${sample.name}"></td>
    </tr>
</table>
</body>
</html>
