<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Insert title here</title>
</head>
<body>
<h1 th:text="${title}">仮のタイトル</h1>
<p>入力内容をご確認ください</p>
<p th:text="${inquiryAddRequest.name}"></p>
<div th:object="${inquiryAddRequest}">
    <p th:text="*{name}"></p>
    <p th:text="*{email}"></p>
    <p th:text="*{contents}"></p>
    <form action="#" method="post" th:action="@{/inquiry/form}">
        <input name="name" th:value="*{name}" type="hidden">
        <input name="email" th:value="*{email}" type="hidden">
        <input name="contents" th:value="*{contents}" type="hidden">
        <input type="submit" value="戻る">
    </form>
    <form action="#" method="post" th:action="@{/inquiry/complete}">
        <input name="name" th:value="*{name}" type="hidden">
        <input name="email" th:value="*{email}" type="hidden">
        <input name="contents" th:value="*{contents}" type="hidden">
        <input type="submit" value="Complete">
    </form>
</div>
</body>
</html>
