<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../../../../favicon.ico" rel="icon">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet" th:href="@{/css/starter-template.css}">
</head>

<body>


<div th:replace="~{block/header_boot::headerA_boot}"></div>
<main class="container" role="main">

    <div class="starter-template">
        <h1 th:text="${title}">Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
            mostly barebones HTML document.</p>
    </div>


    <div th:unless="${#strings.isEmpty(complete)}">
        <div class="alert alert-success" role="alert" th:text="${complete}">
            A simple success alert—check it out!
        </div>
    </div>

    <form action="#" method="post" th:action="@{/inquiry/confirm}" th:object="${inquiryForm}">
        <div class="form-group">
            <label for="name">お名前</label>
            <input class="form-control" id="name" name="name" th:value="*{name}" type="text">
        </div>
        <div class="text-danger mb-4" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
        <div class="form-group">
            <label for="email">メール</label>
            <input class="form-control" id="email" name="email" th:value="*{email}" type="text">
        </div>
        <div class="text-danger mb-4" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>
        <div class="form-group">
            <label for="contents">Inquiry</label>
            <textarea class="form-control" id="detail" name="contents" rows="3" th:field="*{contents}"></textarea>
        </div>
        <div class="text-danger mb-4" th:errors="*{contents}" th:if="${#fields.hasErrors('contents')}"></div>
        <button class="btn btn-primary" type="submit">確認する</button>
    </form>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="@{/js/jquery-slim.min.js}"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../../dist/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
